.main-menu {
    background-color: rgb(167, 167, 167); 
    margin-top: 8%;
    padding: 12px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.font-menu {
    color: aliceblue;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.main-left {
    margin: 30%;
}

.my-name {
    font-size: 20%p;
}